<div class="main">
  <div class="navbar navbar-default">
    <div class="navbar-header">
        <a class="navbar-brand" style="color:white">
            ConvoSpace
        </a>
    </div>
  </div>
  
  <div class="container">
    <div>
      <input class="form-control" type="email" placeholder="email" #email><br>
      <input class="form-control" type="text" placeholder="name" #name><br>
      <input class="form-control" type="password" placeholder="password" #password><br>
      <input class="form-control" type="password" placeholder="confirm password" #passwordConfirm><br>
    </div>
    
    <button class="btn btn-success"
            (click)="register(email.value, name.value, password.value, passwordConfirm.value)">
            register
    </button>
  </div>  
</div>


