<div class="main">
  <div class="navbar navbar-default">
    <div class="navbar-header">
        <a class="navbar-brand" style="color:white">
            ConvoSpace
        </a>
    </div>
  </div>
  
  <div class="container">
    <p>
      <a routerLink="/register">register</a>
    </p>
    
    <div>
      <input class="form-control" type="email" placeholder="email" #email><br>
      <input class="form-control" type="password" placeholder="password" #password><br>
    </div>
    
    <button class="btn btn-info" (click)="login(email.value, password.value)">login</button>
  </div>
</div>


